.card-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
  align-items: start;
}
@media (min-width: 576px) {
  .card-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

/** Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .card-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

/** Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .card-container {
    grid-template-columns: repeat(4, 1fr);
  }
}

/** Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .card-container {
    grid-template-columns: repeat(6, 1fr);
  }
}
